* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color:antiquewhite;
}

h1 {
    margin: 20px auto;
}

.banner {
    position: relative;
}

button {
    width: 200px;
    height: 50px;
    border: 1px solid white;
    padding: 5px;
    margin: 20px auto;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: rgb(184, 199, 199);
    display: block;
}

button:hover, .livelli button:hover {
    background-color: white;
    color: rgb(184, 199, 199);
}


.livelli {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;

}

.livelli button {
    width: 150px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    background-color: rgb(184, 199, 199);
    display: block;
}




.container {
    width: 1200px;
    margin: 0 auto;
}

.grid {
    border: 3px solid lightblue;
    margin: 30px auto;
    width: fit-content;
}

.rowContainer {
    width:fit-content;
    text-align: center;
}

.card {
    width: 120px;
    height: 120px;
    border: 3px solid black;
    background-color: white;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 120px;
    font-weight: bold;
    font-size: 50px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:inline-block;
}


.card:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.message {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size:22px;
}

.message #punteggio {
    display: inline-block;
    font-weight: bold;
}


.end {
    display:block;
    color: green;
    font-size: 24px;
    font-weight: bold;
    margin-top: 28px;
}


@media screen and (max-width:1230px ) {

    .livelli {
        position:relative;
        margin-top: 30px;
        text-align: center;
    }

    .livelli button {
        display: inline-block;
    }

}